{{ define "main" }}
<div class="container" role="main">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="posts-list">
                <div class="post-title">{{ .Title }}</div>
                <hr>
                {{ range .Pages.ByDate.Reverse }}
                {{ $page := . }}
                <article class="post-preview">
                    <p class="paper-title">{{ .Title }}</p>
                    {{ with .Params.presentations }}
                    <ul class="talk-list">
                    {{ range sort . "date" "desc" }}
                    <li>
                        <span class="venue-info">
                            <span class="venue-name">{{ .venue }}</span> | <span class="venue-date">{{ (time .date).Format "January 2, 2006" }}</span>
                        </span>
                        <div class="action-links">
                            {{ with .slides }}
                                {{ $pdf_resource := $page.Resources.GetMatch . }}
                                {{ if $pdf_resource }}
                                    <a href="{{ $pdf_resource.Permalink }}" class="btn-action" target="_blank" rel="noopener">Slides</a>
                                {{ end }}
                            {{ end }}
                            {{ with .video }}
                                <a href="{{ . }}" class="btn-action" target="_blank" rel="noopener">Video</a>
                            {{ end }}
                        </div>
                    </li>
                    {{ end }}
                    </ul>
                {{ end }}
                <hr>
                </article>
                {{ end }}
            </div>
        </div>
    </div>
</div>

<style>
    .paper-title {
        font-size: 1.2rem;
        font-weight: 600;
        padding-bottom: 0.25rem;
    }
    .talk-list {
        list-style-position: inside;
    }
    .talk-list li {
        margin-bottom: 0.25rem;
        margin-left: 0.25rem;
    }
    .venue-info {
        font-size: 15px;
    }
    .venue-name {
        font-weight: 500;
    }
    .action-links {
        display: block;
        margin-left: 1.4em;
    }
    .btn-action {
        color: var(--primary);
        text-decoration: none;
        font-size: 0.9rem;
        font-weight: 500;
        margin-right: 15px;
        padding: 2px 0;
    }
    .btn-action:hover {
        text-decoration: underline;
    }
</style>
{{ end }}
